*{
	margin:0;
	padding:0;
	border:0;
}
 *,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing:border-box;
}
:focus,:active{
	outline:none;
}
a:focus,a:active{
	outline:none;
}
nav,footer,header,aside{
	display:block;
}

html, body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height:1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;

}
input,button, textarea{
	font-family:inherit;

}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0; border:0;}
a, a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li {list-style:none;}
img{vertical-align:top;}


.header {
    background-color: rgb(153, 9, 9);
    
}
.header__image {
    display: block;
    margin:0 auto;
}
body{
    background-color: rgb(153, 9, 9);
}
.container {
    width:992px;
    margin:0 auto;

}
.background__list{
background-color:black;
}
.list {
    display:flex;
    justify-content:space-between;
}


.list__image img{
    width:200px;
    height: 150px;
    padding: 15px 0 10px 0;
}

.list__caption {
    color:white;
    text-align:center;
    font-size: 18px;
}
.left-block {
    text-decoration: underline;
    background-color:rgb(123, 9,9);
    color:rgb(233,73, 12);
    font-size: 18px;
    width:1050px;
    
}
.content{
    display:flex;
}

.left-block__orange-text {
    
}
.left-block__orange-text__item{
    padding: 10px 0 10px 0;

}
.central-block {
}
.central-block__text {
    color:white;
    padding-bottom:10px;
    font-size: 18px;
}
.right-block {
    background-color:rgb(227, 221, 221);
    width:1050px;
    display:flex;
    flex-direction: column;
    align-items:center;
}
.right-block__title {
    font-size: 18px;
    text-align:center;
    background-color:rgb(189, 189, 189);
    font-weight: 700;
    width:100%;
}
.right-block__line{
    width:100px;
    height:0.1px;
    background-color: black;
    box-shadow: 0 0 3px grey;
}
.right-block__line--up{
    margin-top:10px;
    width:100px;
    height:0.1px;
    background-color: black;
    box-shadow: 0 0 3px grey;
    
}
.right-block__text {
    margin: 20px 0 20px 0;
    font-size: 18px;
    padding: 5px 0 5px 0;
}
.footer {
    margin: 10px 0 0 0;
    background-color:rgb(233,73, 12)
}
.footer__text {
    padding:3px 0 3px 0;
    text-align:center;
    font-size: 20px;
    color:white;
}